<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Access</title>
</head>
<body>
    <h1>Hello this is root, to enter API enter access token</h1>
    <h1>Enter Access Token</h1>
    <form action="/api" method="GET">
        <label for="token">Token:</label>
        <input type="text" id="token" name="token" placeholder="Enter 'access'" required>
        <button type="submit">Access API</button>
    </form>
    <br>
</body>
</html>